@model IEnumerable<TravelBlog.Models.Experience>

@{
    ViewData["Title"] = "Travel Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Travel Blog</h2>
<h4>@Html.DisplayNameFor(model => model.Title)</h4>

<ul>
    @foreach (var listexp in Model)
    {
        <h3>
            @Html.DisplayFor(modelItem => listexp.Title)
        </h3>
    }
</ul>
